/* 
 * Minimal CSS to override Modena's default button hover fade 
 */
.button:default:hover {
    /* Keep the background color exactly the same as the default state */
    -fx-color: -fx-default-button;
}

/* Global Table Formatting */
.table-view .column-header .label {
    -fx-alignment: center;
}

.table-view .table-cell {
    -fx-alignment: center;
}

/* Pagination default selection fix */
.pagination .pagination-control .number-button:selected {
    -fx-background-color: #039ED3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.pagination .pagination-control .number-button:selected:hover {
    -fx-background-color: #0284c7;
}
